/* ******************* Header ********************** */
header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}
.header_container {
  height: 100%;
  text-align: center;
  position: relative;
}

/* ******************** CTA ********************** */
.cta {
  margin: top 2.5rem;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

/* ****************Header Socials************** */
.header_socials {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
  align-items: center;
}

.header_socials::after {
  content: "";
  height: 2rem;
  width: 1px;
  background: var(--color-primary);
}

/* ************* ME ************* */
.me {
  background: linear-gradient(var(--color-primary), transparent);
  height: 30rem;
  width: 22rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 1.5rem 1.5rem 1.2rem 1.2rem;
}
/* *********************IMG*************** */
img {
  height: 27rem;
}

/***************** scroll down****************** */
.scroll_down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 200;
  font-size: 0.9rem;
}

/* *********************** MEDIA QUERIES(Medium Devices)***************** */

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* *********************** MEDIA QUERIES(small Devices)***************** */

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header_socials,
  .scroll_down {
    display: none;
  }
}
